<div class="bg-light px-4 py-3 text-uppercase fw-bold">
    Order Summary
</div>

<div class="p-4">
    <p class="fst-italic mb-4">

    </p>

    <ul class="list-unstyled mb-4" *ngIf="(basketService.basketTotalSource$ | async) as totals">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="test-muted">Order Subtotal</strong>
            <strong class="test-muted">{{totals.subtotal | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="test-muted">Shipping Fee</strong>
            <strong class="test-muted">{{totals.shippingCost | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="test-muted">Total</strong>
            <strong class="test-muted">{{totals.total | currency}}</strong>
        </li>
    </ul>

</div>