

<div class="container">
    <div class="row" *ngIf="product">
       <div class="col-6 item-photo">
            <img class="w-100" src="{{product.photoUrl}}"/>
        </div>
        <div class="col-5 mt-5">   
            <h3>{{product.name}}</h3>              
            <p style="font-size: 2em;" class="border-bottom">{{product.price | currency}}</p>
            <h5 class="text-primary mb-3" *ngIf="quantityInBasket > 0">
                You have {{quantityInBasket}} of this item in your basket
            </h5>

            <div class="d-flex justify-content-start align-items-center">
                <i
                    (click)="decrementQuantity()"
                    class="fa fa-minus-circle text-warning me-2"
                    style="cursor: pointer; font-size: 2em;"></i>

                <span class="font-weigth-bold" style="font-size: 1.5em;">{{quantity}}</span>
                <i
                    (click)="incrementQuantity()"
                    class="fa fa-plus-circle text-warning ms-2"
                    style="cursor: pointer; font-size: 2em;"></i>

                <button
                    (click)="updateBasket()"
                    [disabled]="quantity === quantityInBasket" 
                    class="btn btn-outline-primary ms-4 mb-1">{{buttonText}}</button>
            </div>
            <div class="row mt-4">
                <h4>Description</h4>
                <p >
                    <small>
                        {{product.description}}
                    </small>
                </p>    
            </div>                                         
        </div>   
    </div>
</div>
